*{
    margin: 0;
    padding: 0;
}
body, html{
    background-color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin: 0;
    padding: 0; 
}
h1.titulo{
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #2737c6;
    color: white;
}       